@tailwind base;
@tailwind components;
@tailwind utilities;


/* Text 12px */
.text-12-light{
  @apply text-xs font-normal;
  letter-spacing: normal;
}
.text-12{
  @apply text-xs font-medium;
  letter-spacing: normal;
}
.text-12-semibold{
  @apply text-xs font-semibold;
  letter-spacing: normal;
}
.text-12-bold{
  @apply text-xs font-bold;
  letter-spacing: normal;
}

/* Text 14px */
.text-14-light{
  @apply text-sm font-normal;
  letter-spacing: normal;
}
.text-14{
  @apply text-sm font-medium;
  letter-spacing: normal;
}
.text-14-semibold{
  @apply text-sm font-semibold;
  letter-spacing: normal;
}
.text-14-bold{
  @apply text-sm font-bold;
  letter-spacing: normal;
}

/* Text 16px */
.text-16-light{
  @apply text-base font-normal;
  letter-spacing: normal;
}
.text-16{
  @apply text-base font-medium;
  letter-spacing: normal;
}
.text-16-semibold{
  @apply text-base font-semibold;
  letter-spacing: normal;
}
.text-16-bold{
  @apply text-base font-bold;
  letter-spacing: normal;
}

/* Text 18px */
.text-18-light{
  @apply text-md font-normal;
  letter-spacing: normal;
}
.text-18{
  @apply text-md font-medium;
  letter-spacing: normal;
}
.text-18-semibold{
  @apply text-md font-semibold;
  letter-spacing: normal;
}
.text-18-bold{
  @apply text-md font-bold;
  letter-spacing: normal;
}

/* Text 20px */
.text-20-light{
  @apply text-lg font-normal;
  letter-spacing: normal;
}
.text-20{
  @apply text-lg font-medium;
  letter-spacing: normal;
}
.text-20-semibold{
  @apply text-lg font-semibold;
  letter-spacing: normal;
}
.text-20-bold{
  @apply text-lg font-bold;
  letter-spacing: normal;
}

/* Text 22px */
.text-22-light{
  @apply text-xl font-normal;
  letter-spacing: normal;
}
.text-22{
  @apply text-xl font-medium;
  letter-spacing: normal;
}
.text-22-semibold{
  @apply text-xl font-semibold;
  letter-spacing: normal;
}
.text-22-bold{
  @apply text-xl font-bold;
  letter-spacing: normal;
}

/* Text 24px */
.text-24-light{
  @apply text-2xl font-normal;
  letter-spacing: normal;
}
.text-24{
  @apply text-2xl font-medium;
  letter-spacing: normal;
}
.text-24-semibold{
  @apply text-2xl font-semibold;
  letter-spacing: normal;
}
.text-24-bold{
  @apply text-2xl font-bold;
  letter-spacing: normal;
}

/* Text 28px */
.text-28-light{
  @apply text-3xl font-normal;
  letter-spacing: normal;
}
.text-28{
  @apply text-3xl font-medium;
  letter-spacing: normal;
}
.text-28-semibold{
  @apply text-3xl font-semibold;
  letter-spacing: normal;
}
.text-28-bold{
  @apply text-3xl font-bold;
  letter-spacing: normal;
}

/* Text 32px */
.text-32-light{
  @apply text-4xl font-normal;
  letter-spacing: normal;
}
.text-32{
  @apply text-4xl font-medium;
  letter-spacing: normal;
}
.text-32-semibold{
  @apply text-4xl font-semibold;
  letter-spacing: normal;
}
.text-32-bold{
  @apply text-4xl font-bold;
  letter-spacing: normal;
}

/* Text 36px */
.text-36-light{
  @apply text-5xl font-normal;
  letter-spacing: normal;
}
.text-36{
  @apply text-5xl font-medium;
  letter-spacing: normal;
}
.text-36-semibold{
  @apply text-5xl font-semibold;
  letter-spacing: normal;
}
.text-36-bold{
  @apply text-5xl font-bold;
  letter-spacing: normal;
}
